.mainLi {
    position: absolute;
    right: -20px;
    top: 12px;
    width: 60px;
}



.dropdown {
    position: relative;
    left: -50px;
    top: 7px;
    width: 100px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;

}

.dropdown li a {
    color: black;
}

.image {
    width: 30px;
    border-radius: 50%;
}