.menu {
    display: flex;
    justify-content: baseline;
    background: #333;
    color: #fff;
    padding: 10px 20px;
   
  }

  .menu .list {
    margin-left: 40px;
  }
  .menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
  }

  .menu ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    margin-right: 20px;
  }

  